/* Colors */
$primary: #199b8c;
$grey: #747474;
$darkgrey: #535353;
$lightgrey: #e5e5e5;
$titlegrey: #aeaeae;

/* sizes for screenq */

$screen320: 320px;
$screen480: 480px;
$screen768: 768px;
$srceen960: 960px;
$screen1140: 1140px;