.content-institute{
	margin-top: 50px;
}
.instimg{
	position: absolute;
	margin-bottom: -250px !important;
	bottom: 0;
	right: 0;
	z-index: -200;
	max-width: 100%;
}

.title{
	color: $lightgrey;
}

.subactive{
	margin-right: 20px;
}
.subtitle{
	margin-bottom: 20px;
}
.sidenav{
	h3{
		color: $grey;
		clear: both;
		padding-top: 20px;
		margin-left: 28px;
	}
	div ul{
		margin-bottom: 10px;
		li:before{
			color: $lightgrey;
			padding-right: 10px;
			font-size: 25px;
			content: "•";
		}
		li{
			color: $lightgrey;
			clear: both;
			padding-top: 20px;
			&:hover{
				cursor: pointer;
				&:before{
					color: $primary;
				}
				color: $primary;
			}
		}
		.active, .active:before{
			color: $primary;
		}
	}	
}
h3{
	margin-bottom: 10px;
}
.coursedetails{
	margin-top: 70px;
}

.scroll{
	.scrollimagehover{
		display: none;
	}
	.scrollimage{
		display: inline;
	}

	&:hover{
		.scrollimagehover{
			display: inline;
		}
		.scrollimage{
			display: none;
		}
	}
}

.secondsub{
	color: $lightgrey;
}

.institutebottom{
	position: fixed;
	bottom: 10px;
	left: 30px;
	color: $lightgrey;
}

@include media(max-width $screen768){
	.coursedetails, .coursemaininfo{
		@include span-columns(8);
	}
	.scroll{
		margin-top: -200px !important;
	}
}

@include media(max-width $screen480){
	.mainnav{
		display: none;
	}
	.hovernav{
		background-color: #fff;
		position: absolute;
		margin-left: 0;
		.smallnavbut{
			margin-left:20px;
		}
		li:hover{
			color: $darkgrey !important;
			span{
				color: $darkgrey;
			}
		}
		span{
			@include span-columns(12);
		}
		.subnav{
			@include span-columns(12);
			color: $lightgrey;
		}
	}
	.smallnav{
		min-height: 700px;;
		max-width:30px;
	 	.smallnavbut{
			margin-left:20px;
		}
		img{
			clear: both;
			padding-top: 20px;
		}
		ul{
			display: block;
		}
	}
	.instimg{
		margin-bottom: -150px !important;
		left: 100px;
	}
}

@include media(max-width $screen320){
	.instimg{
		margin-bottom: -100px !important;
		left: 0;
	}
}